.login-container{
    margin: 0% auto;
    width: 40%;
}

@media screen and (max-width: 767px){
    .login-container{
        width: 85%;
    }
}

.login-container form{
    width: 100%;
    padding: 25px;
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 0px 10px 25px rgba(255 255 255 /65%),
    0 20px 48px rgb(255 255 255 / 5%),
    0 1px 4px rgb(255 255 255 / 10%);
}


.login-container form label h4{
    margin-bottom: 5px;
    margin-top: 10px;
    font-weight: 500;
}

.login-container form label input{
    padding: 10px;
    width: 100%;
    border: solid 1px #0000003e;
    border-radius: 3px;
    font-size: 13px;
    margin-bottom: 5px;
}

.login-container .auth-button{
    margin-top: 15px;
    padding: 10px 5px;
    /* background-color: #009dff; */
    background-image: linear-gradient(to right,#B49275,  #DDc2AB , #FFCC96, #EBA55D );
    border: 0px;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.2s;
    font-size: 13px;
    font-weight: bolder;
}
.auth-button:hover{
    /* background-color: #018ce3; */
    box-shadow: 0 0 20px inset #B49275;

}